@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/Roboto/Roboto-Medium.ttf"); }

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf"); }

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf"); }

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, li, body {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 10px; }

@media only screen and (max-width: 640px) {
  html {
    font-size: 9px; } }

@media only screen and (max-width: 480px) {
  html {
    font-size: 8px; } }

body {
  background-color: white; }

.wrapper {
  overflow: hidden; }

.header__container, .preview__container, .about__container, .research__container, .how__container, .technologies-advantages__container, .team__container, .contacts__container {
  max-width: 1090px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (max-width: 1200px) {
  .header__container, .preview__container, .about__container, .research__container, .how__container, .technologies-advantages__container, .team__container, .contacts__container {
    padding: 0 25px; } }

@media only screen and (max-width: 640px) {
  .header__container, .preview__container, .about__container, .research__container, .how__container, .technologies-advantages__container, .team__container, .contacts__container {
    padding: 0 16px; } }

@media only screen and (max-width: 480px) {
  .header__container, .preview__container, .about__container, .research__container, .how__container, .technologies-advantages__container, .team__container, .contacts__container {
    padding: 0 12px; } }

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 80px;
  color: white;
  background-color: #000427; }

@media only screen and (max-width: 998px) {
  .header {
    position: absolute; } }

@media only screen and (max-width: 480px) {
  .header {
    height: 60px; } }

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.header__logo {
  display: block;
  width: 146px;
  font-family: 'Montserrat';
  font-size: 26px;
  line-height: 1.46;
  font-weight: 800;
  color: white;
  position: relative;
  word-spacing: 2px; }

@media only screen and (max-width: 480px) {
  .header__logo {
    font-size: 22px;
    width: 130px; } }

.header__logo-point {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #ff0096;
  position: absolute;
  top: 16px;
  right: 17px; }

@media only screen and (max-width: 480px) {
  .header__logo-point {
    width: 6px;
    height: 6px;
    top: 14px;
    right: 20px; } }

.header__btn {
  display: block;
  width: 198px;
  height: 38px;
  background-color: #9d005d;
  background-image: -webkit-linear-gradient(160deg, #710043 6.4%, transparent 6.6%), -webkit-linear-gradient(bottom right, #9d005d 49.5%, transparent 50.5%), -webkit-linear-gradient(30deg, #ff0096 9.9%, transparent 10.1%), -webkit-linear-gradient(top, #C70075 99.8%, transparent 100%);
  background-image: -o-linear-gradient(160deg, #710043 6.4%, transparent 6.6%), -o-linear-gradient(bottom right, #9d005d 49.5%, transparent 50.5%), -o-linear-gradient(30deg, #ff0096 9.9%, transparent 10.1%), -o-linear-gradient(top, #C70075 99.8%, transparent 100%);
  background-image: linear-gradient(-70deg, #710043 6.4%, transparent 6.6%), linear-gradient(to top left, #9d005d 49.5%, transparent 50.5%), linear-gradient(60deg, #ff0096 9.9%, transparent 10.1%), linear-gradient(to bottom, #C70075 99.8%, transparent 100%);
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media only screen and (max-width: 1200px) {
  .header__btn {
    font-size: 16px; } }

@media only screen and (max-width: 998px) {
  .header__btn {
    background-image: none;
    background-color: #c70075; } }

@media only screen and (max-width: 480px) {
  .header__btn {
    width: 138px;
    height: 28px;
    font-size: 1.4rem; } }

@media only screen and (max-width: 359px) {
  .header__btn {
    display: none; } }

.menu {
  width: 462px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between; }

@media only screen and (max-width: 1200px) {
  .menu {
    width: 500px; } }

@media only screen and (max-width: 998px) {
  .menu {
    display: none; } }

.menu__item {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.menu__reference {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Roboto'; }

@media only screen and (max-width: 1200px) {
  .menu__reference {
    font-size: 1.6rem; } }

.menu-mobile {
  width: 60px;
  height: 60px;
  padding: 5px;
  display: none; }

.menu-mobile img {
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 998px) {
  .menu-mobile {
    display: block; } }

@media only screen and (max-width: 640px) {
  .menu-mobile {
    width: 55px;
    height: 55px; } }

@media only screen and (max-width: 640px) {
  .menu-mobile {
    width: 45px;
    height: 45px; } }

.preview {
  background-image: -webkit-linear-gradient(top, #000427 80px, transparent 80px), -webkit-linear-gradient(top, #000427 80px, #000a4f 100%);
  background-image: -o-linear-gradient(top, #000427 80px, transparent 80px), -o-linear-gradient(top, #000427 80px, #000a4f 100%);
  background-image: linear-gradient(to bottom, #000427 80px, transparent 80px), linear-gradient(to bottom, #000427 80px, #000a4f 100%);
  padding-top: 80px;
  padding-bottom: 15vw;
  margin-bottom: -8vw;
  color: white; }

.preview__head-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between; }

@media only screen and (max-width: 998px) {
  .preview__head-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.preview__head-text-container {
  padding-top: 250px;
  z-index: 10; }

@media only screen and (max-width: 998px) {
  .preview__head-text-container {
    padding-top: 0; } }

.preview__head-text-container:first-of-type {
  width: -webkit-calc(100%/24*8.4 - 5px*2);
  width: calc(100%/24*8.4 - 5px*2);
  margin-left: 5px;
  margin-right: 5px; }

@media only screen and (max-width: 998px) {
  .preview__head-text-container:first-of-type {
    width: -webkit-calc(100%/24*15 - 5px*2);
    width: calc(100%/24*15 - 5px*2);
    margin-left: 5px;
    margin-right: 5px;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; } }

@media only screen and (max-width: 640px) {
  .preview__head-text-container:first-of-type {
    width: -webkit-calc(100%/24*20 - 5px*2);
    width: calc(100%/24*20 - 5px*2);
    margin-left: 5px;
    margin-right: 5px; } }

@media only screen and (max-width: 480px) {
  .preview__head-text-container:first-of-type {
    width: -webkit-calc(100%/24*16 - 5px*2);
    width: calc(100%/24*16 - 5px*2);
    margin-left: 5px;
    margin-right: 5px; } }

@media only screen and (max-width: 359px) {
  .preview__head-text-container:first-of-type {
    width: -webkit-calc(100%/24*18 - 5px*2);
    width: calc(100%/24*18 - 5px*2);
    margin-left: 5px;
    margin-right: 5px; } }

.preview__head-text-container:last-of-type {
  width: -webkit-calc(100%/24*7 - 5px*2);
  width: calc(100%/24*7 - 5px*2);
  margin-left: 5px;
  margin-right: 5px; }

@media only screen and (max-width: 1200px) {
  .preview__head-text-container:last-of-type {
    width: -webkit-calc(100%/24*7 - 1px*2);
    width: calc(100%/24*7 - 1px*2);
    margin-left: 1px;
    margin-right: 1px; } }

@media only screen and (max-width: 998px) {
  .preview__head-text-container:last-of-type {
    width: -webkit-calc(100%/24*16 - 5px*2);
    width: calc(100%/24*16 - 5px*2);
    margin-left: 5px;
    margin-right: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; } }

@media only screen and (max-width: 640px) {
  .preview__head-text-container:last-of-type {
    width: -webkit-calc(100%/24*20 - 5px*2);
    width: calc(100%/24*20 - 5px*2);
    margin-left: 5px;
    margin-right: 5px; } }

@media only screen and (max-width: 480px) {
  .preview__head-text-container:last-of-type {
    width: -webkit-calc(100%/24*22 - 5px*2);
    width: calc(100%/24*22 - 5px*2);
    margin-left: 5px;
    margin-right: 5px; } }

.preview__head-big-text {
  font-family: 'Montserrat';
  font-weight: 800;
  text-transform: uppercase;
  font-size: 15.8rem;
  line-height: 11.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0; }

@media only screen and (max-width: 1200px) {
  .preview__head-big-text {
    font-size: 12rem;
    line-height: 8.8rem; } }

@media only screen and (max-width: 998px) {
  .preview__head-big-text {
    font-size: 6rem;
    line-height: 6rem;
    margin: 0; } }

.preview__head-big-text span {
  margin-left: -12px; }

@media only screen and (max-width: 998px) {
  .preview__head-big-text span {
    margin-left: -6px; } }

.preview__head-big-text .preview__we {
  color: #1361ff; }

.preview__head-big-text .preview__and {
  color: #ff0096;
  margin-right: 5px;
  margin-top: 3px; }

.preview__head-symbol {
  width: 11%;
  margin-left: 1.3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.preview__head-symbol img {
  margin-top: 1px;
  width: 40px;
  height: 112px; }

@media only screen and (max-width: 1200px) {
  .preview__head-symbol img {
    margin-top: 3px;
    height: 83px; } }

@media only screen and (max-width: 998px) {
  .preview__head-symbol img {
    margin-top: 8px;
    height: 42px; } }

@media only screen and (max-width: 640px) {
  .preview__head-symbol img {
    margin-top: 8px;
    height: 37px; } }

@media only screen and (max-width: 480px) {
  .preview__head-symbol img {
    margin-top: 7px;
    height: 32px; } }

@media only screen and (max-width: 998px) {
  .preview__head-symbol {
    margin-left: 0.5rem; } }

.preview__head-text-bold {
  font-family: 'Montserrat';
  font-size: 3.8rem;
  line-height: 5.2rem;
  font-weight: 800;
  margin: 0; }

@media only screen and (max-width: 998px) {
  .preview__head-text-bold {
    font-size: 3.2rem; } }

@media only screen and (max-width: 480px) {
  .preview__head-text-bold {
    font-size: 2.4rem;
    line-height: 3.8rem; } }

.preview__head-text-medium {
  font-family: 'Montserrat';
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 500;
  margin: 0; }

@media only screen and (max-width: 480px) {
  .preview__head-text-medium {
    font-size: 1.8rem;
    line-height: 3.4rem; } }

.preview__head {
  width: 596px;
  padding-top: 45px;
  margin-left: -220px;
  margin-right: -170px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

@media only screen and (max-width: 998px) {
  .preview__head {
    padding-top: 0; } }

@media only screen and (max-width: 768px) {
  .preview__head {
    margin-left: 0;
    margin-right: 0;
    width: 500px; } }

@media only screen and (max-width: 640px) {
  .preview__head {
    width: 450px; } }

@media only screen and (max-width: 480px) {
  .preview__head {
    width: 320px; } }

.preview__head img {
  width: 100%; }

.preview__separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
  margin-top: 46px; }

.preview__line {
  width: 48%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  margin: 4px 0; }

@media only screen and (max-width: 998px) {
  .preview__line {
    width: 47%; } }

@media only screen and (max-width: 768px) {
  .preview__line {
    width: 45%; } }

.preview__line-point {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 9px;
  height: 9px;
  background-color: #fff;
  position: absolute; }

.preview__line-point-left {
  top: -4px;
  left: 0; }

.preview__line-point-right {
  top: -4px;
  right: 0; }

.preview__img {
  margin-right: -20px;
  margin-left: -20px; }

.preview__img-question {
  font-family: 'Montserrat';
  font-size: 86px;
  font-weight: bold;
  width: 106px;
  height: 106px;
  -webkit-border-radius: 56px;
          border-radius: 56px;
  background-color: #ff0096;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: center;
      -ms-flex-direction: center;
          flex-direction: center;
  margin: 42px auto; }

.preview__flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  font-family: 'Montserrat';
  padding-bottom: 100px; }

@media only screen and (max-width: 998px) {
  .preview__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%; } }

@media only screen and (max-width: 768px) {
  .preview__flex-container {
    padding: 0 4%; } }

@media only screen and (max-width: 640px) {
  .preview__flex-container {
    padding: 0; } }

.preview__flex-item {
  text-align: center; }

@media only screen and (max-width: 998px) {
  .preview__flex-item {
    text-align: left;
    margin: -20px; } }

@media only screen and (max-width: 768px) {
  .preview__flex-item {
    margin: -15px; } }

.preview__flex-item p {
  margin: 0; }

.preview__flex-item:first-of-type {
  font-size: 2.4rem;
  line-height: 3.7rem;
  font-weight: 800;
  width: -webkit-calc(100%/12*3 - 5px*2);
  width: calc(100%/12*3 - 5px*2);
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transform: translate(7%, -35%);
      -ms-transform: translate(7%, -35%);
          transform: translate(7%, -35%); }

@media only screen and (max-width: 998px) {
  .preview__flex-item:first-of-type {
    width: -webkit-calc(100%/12*8 - 10px*2);
    width: calc(100%/12*8 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 3rem;
    line-height: 4.2rem;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    font-weight: bold; } }

@media only screen and (max-width: 768px) {
  .preview__flex-item:first-of-type {
    width: -webkit-calc(100%/12*10 - 10px*2);
    width: calc(100%/12*10 - 10px*2);
    margin-left: 10px;
    margin-right: 10px; } }

.preview__flex-item:nth-of-type(2) {
  font-size: 3.4rem;
  line-height: 4.4rem;
  font-weight: bold;
  width: -webkit-calc(100%/12*5 - 10px*2);
  width: calc(100%/12*5 - 10px*2);
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transform: translate(0, 10%);
      -ms-transform: translate(0, 10%);
          transform: translate(0, 10%); }

@media only screen and (max-width: 1200px) {
  .preview__flex-item:nth-of-type(2) {
    width: -webkit-calc(100%/12*5 - 10px*2);
    width: calc(100%/12*5 - 10px*2);
    margin-left: 10px;
    margin-right: 10px; } }

@media only screen and (max-width: 998px) {
  .preview__flex-item:nth-of-type(2) {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: -webkit-calc(100%/12*7 - 10px*2);
    width: calc(100%/12*7 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    font-size: 2.4rem;
    line-height: 3.7rem;
    font-weight: 800; } }

@media only screen and (max-width: 480px) {
  .preview__flex-item:nth-of-type(2) {
    width: -webkit-calc(100%/12*9 - 10px*2);
    width: calc(100%/12*9 - 10px*2);
    margin-left: 10px;
    margin-right: 10px; } }

.preview__flex-item:nth-of-type(3) {
  font-size: 2.2rem;
  line-height: 3.6rem;
  font-weight: 500;
  width: -webkit-calc(100%/12*3 - 5px*2);
  width: calc(100%/12*3 - 5px*2);
  margin-left: 5px;
  margin-right: 5px;
  -webkit-transform: translate(-7%, -15%);
      -ms-transform: translate(-7%, -15%);
          transform: translate(-7%, -15%); }

@media only screen and (max-width: 998px) {
  .preview__flex-item:nth-of-type(3) {
    font-size: 2.4rem;
    line-height: 3.7rem;
    width: -webkit-calc(100%/12*7 - 10px*2);
    width: calc(100%/12*7 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; } }

@media only screen and (max-width: 480px) {
  .preview__flex-item:nth-of-type(3) {
    width: -webkit-calc(100%/12*9 - 10px*2);
    width: calc(100%/12*9 - 10px*2);
    margin-left: 10px;
    margin-right: 10px; } }

.preview__flex-item:nth-of-type(4) {
  font-size: 2.4rem;
  line-height: 3.6rem;
  font-weight: 500;
  width: -webkit-calc(100%/12*4 - 0px*2);
  width: calc(100%/12*4 - 0px*2);
  margin-left: 0px;
  margin-right: 0px;
  -webkit-transform: translate(25%, 9%);
      -ms-transform: translate(25%, 9%);
          transform: translate(25%, 9%); }

@media only screen and (max-width: 998px) {
  .preview__flex-item:nth-of-type(4) {
    font-size: 2.4rem;
    line-height: 3.7rem;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: -webkit-calc(100%/12*7 - 10px*2);
    width: calc(100%/12*7 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    font-weight: bold; } }

@media only screen and (max-width: 768px) {
  .preview__flex-item:nth-of-type(4) {
    width: -webkit-calc(100%/12*8 - 10px*2);
    width: calc(100%/12*8 - 10px*2);
    margin-left: 10px;
    margin-right: 10px; } }

@media only screen and (max-width: 480px) {
  .preview__flex-item:nth-of-type(4) {
    width: -webkit-calc(100%/12*9 - 10px*2);
    width: calc(100%/12*9 - 10px*2);
    margin-left: 10px;
    margin-right: 10px; } }

.preview__flex-item:nth-of-type(5) {
  font-size: 2.6rem;
  line-height: 3.5rem;
  font-weight: bold;
  width: -webkit-calc(100%/12*4 - 15px*2);
  width: calc(100%/12*4 - 15px*2);
  margin-left: 15px;
  margin-right: 15px;
  -webkit-transform: translate(-48%, 46%);
      -ms-transform: translate(-48%, 46%);
          transform: translate(-48%, 46%); }

@media only screen and (max-width: 1200px) {
  .preview__flex-item:nth-of-type(5) {
    width: -webkit-calc(100%/12*4 - 0px*2);
    width: calc(100%/12*4 - 0px*2);
    margin-left: 0px;
    margin-right: 0px; } }

@media only screen and (max-width: 998px) {
  .preview__flex-item:nth-of-type(5) {
    font-size: 2.4rem;
    line-height: 3.7rem;
    width: -webkit-calc(100%/12*7 - 10px*2);
    width: calc(100%/12*7 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    font-weight: 500; } }

@media only screen and (max-width: 768px) {
  .preview__flex-item:nth-of-type(5) {
    width: -webkit-calc(100%/12*8 - 10px*2);
    width: calc(100%/12*8 - 10px*2);
    margin-left: 10px;
    margin-right: 10px; } }

@media only screen and (max-width: 480px) {
  .preview__flex-item:nth-of-type(5) {
    width: -webkit-calc(100%/12*9 - 10px*2);
    width: calc(100%/12*9 - 10px*2);
    margin-left: 10px;
    margin-right: 10px; } }

.preview__btn-down {
  width: 380px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 24px auto 0;
  background: url("../img/icons/btn.svg") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2rem; }

.preview__btn-down img {
  width: 100%; }

@media only screen and (max-width: 998px) {
  .preview__btn-down {
    margin: 100px auto 50px; } }

@media only screen and (max-width: 480px) {
  .preview__btn-down {
    margin: 100px auto 50px;
    width: 280px;
    height: -webkit-calc(280px / 380 * 80);
    height: calc(280px / 380 * 80); } }

.about {
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
  background-color: #fff;
  width: 100%;
  padding: 120px 0 155px;
  z-index: 10; }

@media only screen and (max-width: 1200px) {
  .about {
    padding: 100px 0 130px; } }

@media only screen and (max-width: 480px) {
  .about {
    padding: 80px 0 90px; } }

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  width: 16%;
  height: 100%;
  background-color: #fff; }

@media only screen and (max-width: 640px) {
  .about::before {
    left: -199px;
    width: 200px; } }

.about::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15%;
  width: 16%;
  height: 100%;
  background-color: #fff;
  z-index: 1; }

@media only screen and (max-width: 640px) {
  .about::after {
    right: -199px;
    width: 200px; } }

@media only screen and (max-width: 480px) {
  .about::after {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%, transparent), color-stop(90%, #fff));
    background-image: -webkit-linear-gradient(bottom, transparent 90%, #fff 90%);
    background-image: -o-linear-gradient(bottom, transparent 90%, #fff 90%);
    background-image: linear-gradient(to top, transparent 90%, #fff 90%); } }

.about__container {
  -webkit-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
          transform: rotate(8deg); }

.about__title {
  font-family: "Montserrat";
  font-size: 5.6rem;
  line-height: 1;
  font-weight: bold;
  color: #00052f;
  z-index: 100;
  text-align: center;
  margin: 5px 0 50px; }

@media only screen and (max-width: 768px) {
  .about__title {
    margin: 0; } }

.about__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px; }

@media only screen and (max-width: 1200px) {
  .about__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 998px) {
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px; } }

.about__li {
  width: -webkit-calc(100%/12*4 - 20px*2);
  width: calc(100%/12*4 - 20px*2);
  margin-left: 20px;
  margin-right: 20px; }

@media only screen and (max-width: 1200px) {
  .about__li {
    width: -webkit-calc(100%/12*4 - 20px*2);
    width: calc(100%/12*4 - 20px*2);
    margin-left: 20px;
    margin-right: 20px; } }

@media only screen and (max-width: 998px) {
  .about__li {
    width: -webkit-calc(100%/12*12 - 10px*2);
    width: calc(100%/12*12 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px; } }

.about__li-text {
  font: normal 1.6rem/2.2rem "Roboto";
  margin: 0.5rem 0;
  color: #4a4a4a; }

@media only screen and (max-width: 998px) {
  .about__li-text {
    font-size: 2rem;
    line-height: 2.8rem; } }

.about__li:first-of-type {
  color: #4a90e2;
  font: bold 2.2rem/1.59 'Montserrat';
  padding-top: 1rem; }

@media only screen and (max-width: 1200px) {
  .about__li:first-of-type {
    font-size: 2rem;
    line-height: 3.5rem; } }

@media only screen and (max-width: 998px) {
  .about__li:first-of-type {
    font-size: 2.4rem;
    line-height: 4rem; } }

.about__li-title {
  font: bold 2.6rem/3.5rem 'Montserrat';
  margin: 0.6rem 0;
  color: #00052f; }

.research {
  background-image: -webkit-linear-gradient(top, #000427 80px, transparent 80px), -webkit-linear-gradient(top, #000427 80px, #000a4f 100%);
  background-image: -o-linear-gradient(top, #000427 80px, transparent 80px), -o-linear-gradient(top, #000427 80px, #000a4f 100%);
  background-image: linear-gradient(to bottom, #000427 80px, transparent 80px), linear-gradient(to bottom, #000427 80px, #000a4f 100%);
  padding-top: 15vw;
  margin-top: -8vw;
  padding-bottom: 19vw;
  margin-bottom: -8vw; }

.research__title {
  font-family: "Montserrat";
  font-size: 5.6rem;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  z-index: 100;
  text-align: center;
  margin: 30px 0 50px; }

@media only screen and (max-width: 768px) {
  .research__title {
    margin: 0; } }

.research__container-for-lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.research__preview-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 75px; }

.research__preview-flex-item:first-of-type {
  color: #4a90e2;
  font: bold 2.2rem/1.59 'Montserrat';
  margin-bottom: 40px; }

.research__preview-flex-item:nth-of-type(2) {
  font: 500 2rem/1.75 'Montserrat';
  color: #fff; }

.research__flex-container {
  width: 70%;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -18px;
  margin-right: -18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-wrap: wrap;
  height: 750px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.research__flex-item {
  width: -webkit-calc(100%/12*6 - 18px*2);
  width: calc(100%/12*6 - 18px*2);
  margin-left: 18px;
  margin-right: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 35px; }

.research__separator {
  margin: 0;
  border: none;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3); }

.research__continue-container-for-lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.research__continue-title {
  color: #4a90e2;
  font: bold 2.2rem/1.59 'Montserrat';
  margin: 5rem 0 3rem; }

.research__flex-container-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  justify-content: space-between;
  width: -webkit-calc(100% - 230px);
  width: calc(100% - 230px); }

.research__continue-img {
  margin-top: 10px; }

.research__continue-flex-item:nth-of-type(1) {
  width: -webkit-calc(100%/24*11 - 10px*2);
  width: calc(100%/24*11 - 10px*2);
  margin-left: 10px;
  margin-right: 10px; }

.research__continue-flex-item:nth-of-type(2) {
  width: -webkit-calc(100%/24*6 - 10px*2);
  width: calc(100%/24*6 - 10px*2);
  margin-left: 10px;
  margin-right: 10px; }

.research__continue-flex-item:nth-of-type(3) {
  width: -webkit-calc(100%/24*7 - 10px*2);
  width: calc(100%/24*7 - 10px*2);
  margin-left: 10px;
  margin-right: 10px; }

.research__note {
  color: #a8a8a8;
  font: normal 2rem/1.9 'Roboto', sans-serif;
  margin: 3.8rem 0; }

.research__note-point {
  color: #d0021b;
  font-size: 4rem;
  line-height: 0;
  margin-right: 0.5rem; }

.research-list__title {
  font: bold 2.6rem/1.35 'Montserrat', sans-serif;
  color: #fff;
  margin: 1.5rem 0 1rem; }

.research-list__li {
  color: #fff;
  font: normal 2rem/1.9 'Roboto', sans-serif; }

.research-list__li:before {
  content: "\2022";
  margin-right: 0.6rem; }

.research-list__img-container {
  height: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.how {
  -webkit-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
          transform: rotate(8deg);
  background-color: #fff;
  width: 100%;
  padding: 120px 0 155px;
  z-index: 10; }

@media only screen and (max-width: 1200px) {
  .how {
    padding: 100px 0 130px; } }

@media only screen and (max-width: 480px) {
  .how {
    padding: 80px 0 90px; } }

.how::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  width: 16%;
  height: 100%;
  background-color: #fff; }

@media only screen and (max-width: 640px) {
  .how::before {
    left: -199px;
    width: 200px; } }

.how::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15%;
  width: 16%;
  height: 100%;
  background-color: #fff;
  z-index: 1; }

@media only screen and (max-width: 640px) {
  .how::after {
    right: -199px;
    width: 200px; } }

@media only screen and (max-width: 480px) {
  .how::after {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%, transparent), color-stop(90%, #fff));
    background-image: -webkit-linear-gradient(bottom, transparent 90%, #fff 90%);
    background-image: -o-linear-gradient(bottom, transparent 90%, #fff 90%);
    background-image: linear-gradient(to top, transparent 90%, #fff 90%); } }

.how__container {
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg); }

.how__title {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
  line-height: 1;
  font-weight: bold;
  color: #00052f;
  z-index: 100;
  text-align: center;
  margin: 20px 0 50px; }

.how__flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -25px;
  margin-right: -25px; }

@media only screen and (max-width: 1200px) {
  .how__flex-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 998px) {
  .how__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px; } }

.how__flex-item {
  width: -webkit-calc(100%/12*4 - 25px*2);
  width: calc(100%/12*4 - 25px*2);
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px; }

@media only screen and (max-width: 1200px) {
  .how__flex-item {
    width: -webkit-calc(100%/12*4 - 20px*2);
    width: calc(100%/12*4 - 20px*2);
    margin-left: 20px;
    margin-right: 20px; } }

@media only screen and (max-width: 998px) {
  .how__flex-item {
    width: -webkit-calc(100%/12*12 - 10px*2);
    width: calc(100%/12*12 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px; } }

.how__flex-item-title {
  font: bold 2.6rem/3.5rem 'Montserrat', sans-serif;
  margin: 0.6rem 0;
  color: #00052f; }

.how__flex-item-text {
  font: normal 1.6rem/1.38 "Roboto", sans-serif;
  margin: 0.5rem 0;
  color: #4a4a4a; }

@media only screen and (max-width: 998px) {
  .how__flex-item-text {
    font-size: 2rem;
    line-height: 2.8rem; } }

.how__flex-item:first-of-type {
  width: -webkit-calc(100%/12*8 - 25px*2);
  width: calc(100%/12*8 - 25px*2);
  margin-left: 25px;
  margin-right: 25px;
  color: #4a90e2;
  font: bold 2.2rem/1.59 'Montserrat', sans-serif;
  padding-top: 1rem; }

@media only screen and (max-width: 1200px) {
  .how__flex-item:first-of-type {
    font-size: 2rem;
    line-height: 3.5rem; } }

@media only screen and (max-width: 998px) {
  .how__flex-item:first-of-type {
    font-size: 2.4rem;
    line-height: 4rem; } }

.technologies-advantages {
  background-image: -webkit-linear-gradient(top, #000427 80px, transparent 80px), -webkit-linear-gradient(top, #000427 80px, #000a4f 100%);
  background-image: -o-linear-gradient(top, #000427 80px, transparent 80px), -o-linear-gradient(top, #000427 80px, #000a4f 100%);
  background-image: linear-gradient(to bottom, #000427 80px, transparent 80px), linear-gradient(to bottom, #000427 80px, #000a4f 100%);
  padding-top: 15vw;
  margin-top: -10vw;
  padding-bottom: 19vw;
  margin-bottom: -8vw; }

.technologies__title, .advantages__title {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  z-index: 100;
  text-align: center;
  margin: 30px 0 45px; }

@media only screen and (max-width: 768px) {
  .technologies__title, .advantages__title {
    margin: 0; } }

.technologies__flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.technologies__description {
  color: #4a90e2;
  font: bold 2.2rem/1.59 'Montserrat', sans-serif;
  width: 24.8%; }

.technologies__wrapper-for-list {
  width: 65%; }

.technologies__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.technologies__li-number {
  color: #4a90e2;
  font: normal 3rem/1.17 'Montserrat', sans-serif;
  margin: 0; }

.technologies__li-text {
  color: #ffffff;
  font: bold 2.4rem/1.46 'Montserrat', sans-serif;
  margin: 0; }

.technologies__note {
  color: #ffffff;
  font: normal 1.6rem/1.38 'Roboto', sans-serif;
  margin: 2.2rem 0; }

.technologies__separator {
  border: none;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 20px 0; }

.technologies__flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px; }

.technologies__flex-item {
  width: -webkit-calc(100%/12*4 - 20px*2);
  width: calc(100%/12*4 - 20px*2);
  margin-left: 20px;
  margin-right: 20px;
  color: #fff; }

.technologies__flex-item-title {
  font: 500 2.4rem/1.46 'Montserrat',sans-serif;
  margin-bottom: -0.5rem; }

.technologies__flex-item-text {
  font: normal 1.5rem/1.47 'Roboto',sans-serif;
  margin: 2rem 0; }

.advantages__title {
  margin: 65px 0 50px; }

.advantages__flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -24px;
  margin-right: -24px; }

.advantages__flex-item {
  width: -webkit-calc(100%/12*4 - 24px*2);
  width: calc(100%/12*4 - 24px*2);
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
  margin-bottom: 20px; }

.advantages__flex-item-img {
  height: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.advantages__flex-item-text {
  color: #fff;
  font: 500 2.3rem/1.52 'Montserrat', sans-serif;
  margin: 2rem 0; }

.team {
  -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
          transform: rotate(-8deg);
  background-color: #fff;
  width: 100%;
  padding: 120px 0 155px;
  z-index: 10;
  border-bottom: solid 1px #9faac2; }

@media only screen and (max-width: 1200px) {
  .team {
    padding: 100px 0 130px; } }

@media only screen and (max-width: 480px) {
  .team {
    padding: 80px 0 90px; } }

.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  width: 16%;
  height: 100%;
  background-color: #fff;
  border-bottom: solid 1px #9faac2; }

@media only screen and (max-width: 640px) {
  .team::before {
    left: -199px;
    width: 200px; } }

.team::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15%;
  width: 16%;
  height: 100%;
  background-color: #fff;
  z-index: 1; }

@media only screen and (max-width: 640px) {
  .team::after {
    right: -199px;
    width: 200px; } }

@media only screen and (max-width: 480px) {
  .team::after {
    background-color: transparent;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%, transparent), color-stop(90%, #fff));
    background-image: -webkit-linear-gradient(bottom, transparent 90%, #fff 90%);
    background-image: -o-linear-gradient(bottom, transparent 90%, #fff 90%);
    background-image: linear-gradient(to top, transparent 90%, #fff 90%); } }

.team__container {
  -webkit-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
          transform: rotate(8deg); }

.team__title {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
  line-height: 1;
  font-weight: bold;
  color: #00052f;
  z-index: 100;
  text-align: center;
  margin: 15px 0 50px; }

@media only screen and (max-width: 768px) {
  .team__title {
    margin: 0; } }

.team__flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px; }

@media only screen and (max-width: 1200px) {
  .team__flex-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 998px) {
  .team__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px; } }

.team__flex-item {
  width: -webkit-calc(100%/12*4 - 20px*2);
  width: calc(100%/12*4 - 20px*2);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 35px; }

@media only screen and (max-width: 1200px) {
  .team__flex-item {
    width: -webkit-calc(100%/12*4 - 20px*2);
    width: calc(100%/12*4 - 20px*2);
    margin-left: 20px;
    margin-right: 20px; } }

@media only screen and (max-width: 998px) {
  .team__flex-item {
    width: -webkit-calc(100%/12*12 - 10px*2);
    width: calc(100%/12*12 - 10px*2);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px; } }

.team__flex-item-name {
  color: #00052f;
  font: bold 2.6rem/1.35 'Montserrat', sans-serif;
  margin: 20px 0 0; }

.team__flex-item-title {
  color: #00052f;
  font: normal 2.6rem/1.35 'Montserrat', sans-serif;
  margin: 0 0 10px; }

.team__flex-item-text {
  font: normal 1.6rem/1.38 "Roboto", sans-serif;
  margin: 0.5rem 0;
  color: #4a4a4a; }

@media only screen and (max-width: 998px) {
  .team__flex-item-text {
    font-size: 2rem;
    line-height: 2.8rem; } }

.contacts {
  background-color: #fff;
  padding-top: 15vw;
  margin-top: -10vw;
  padding-bottom: 120px; }

.contacts__title {
  font-family: "Montserrat", sans-serif;
  font-size: 5.6rem;
  line-height: 1;
  font-weight: bold;
  color: #00052f;
  z-index: 100;
  text-align: center;
  margin: 70px 0 50px; }

.contacts__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px; }

.contacts__info-item {
  color: #00052f;
  font: normal 2.6rem/1.35 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contacts__info-item img {
  margin-right: 10px; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px; }

.form__textarea {
  width: -webkit-calc(100%/12*8 - 20px*2);
  width: calc(100%/12*8 - 20px*2);
  margin-left: 20px;
  margin-right: 20px;
  border: solid 1px #9faac2;
  color: #4a4a4a;
  font: normal 1.6rem/1.38 'Roboto', sans-serif;
  resize: none;
  padding: 20px; }

.form__input-container {
  width: -webkit-calc(100%/12*4 - 20px*2);
  width: calc(100%/12*4 - 20px*2);
  margin-left: 20px;
  margin-right: 20px; }

.form__text {
  width: 100%;
  border: solid 1px #9faac2;
  color: #4a4a4a;
  font: normal 1.6rem/1.38 'Roboto', sans-serif;
  padding: 20px;
  margin-bottom: 20px; }

.form__submit {
  width: 100%;
  color: #fff;
  font: bold 2rem/1 'Roboto', sans-serif;
  border: none;
  padding: 30px;
  position: relative;
  background-color: #3AABDF; }

.form__submit span {
  z-index: 3;
  position: relative; }

.form__submit-triangle1 {
  position: absolute;
  height: 100%;
  width: 43%;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #2992C6), color-stop(50.3%, transparent));
  background-image: -webkit-linear-gradient(left bottom, #2992C6 50%, transparent 50.3%);
  background-image: -o-linear-gradient(left bottom, #2992C6 50%, transparent 50.3%);
  background-image: linear-gradient(to right top, #2992C6 50%, transparent 50.3%);
  top: 0;
  left: 0;
  z-index: 2; }

.form__submit-triangle2 {
  position: absolute;
  height: 100%;
  width: 90%;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(50%, #4BBDF1), color-stop(50.3%, transparent));
  background-image: -webkit-linear-gradient(right bottom, #4BBDF1 50%, transparent 50.3%);
  background-image: -o-linear-gradient(right bottom, #4BBDF1 50%, transparent 50.3%);
  background-image: linear-gradient(to left top, #4BBDF1 50%, transparent 50.3%);
  top: 0;
  right: 0;
  z-index: 1; }
