.about {    
    &__container {
        @extend %container;
    }
    
    &__title {
        font-family: "Montserrat";
        font-size: 5.6rem;
        line-height: 1;
        font-weight: bold;
        color: #00052f;
        z-index: 100;
        text-align: center;
        margin: 0 0 50px;
    }
    
    &__list {
        @include row_grid (20px);
    }

    &__li {
        @include col_grid(4, 20px);


        &-text {
            font: normal 1.6rem/2.2rem "Roboto";
            margin: 0.5rem 0;
            color: #4a4a4a;
        }

        &:first-of-type {
            color: #4a90e2;
            font: bold 2.2rem/1.59 'Montserrat';
            padding-top: 0.5rem;
        }
    }

    &__li-title {
        font: bold 2.6rem/3.5rem 'Montserrat';
        margin: 0.6rem 0;
        color: #00052f;
    }

    &__transition {
        margin-top: -5px;
        height: 275px;
        background-image: linear-gradient(to bottom right, transparent 49.93%, #000427 50.07%);
    }
}