.about {    
    &__container {
        @extend %container;
    }
    
    &__title {
        font-family: "Montserrat";
        font-size: 5.6rem;
        line-height: 1;
        font-weight: bold;
        color: #00052f;
        z-index: 100;
        text-align: center;
        margin: 5px 0 50px;
    }
    
    &__list {
        @include row_grid (20px);
        @include media(1200px) {
            justify-content: center;
        }
    }

    &__li {
        @include col_grid(4, 20px);
        @include media(1200px) {
            @include col_grid(4, 20px);
        }


        &-text {
            font: normal 1.6rem/2.2rem "Roboto";
            margin: 0.5rem 0;
            color: #4a4a4a;
        }

        &:first-of-type {
            color: #4a90e2;
            font: bold 2.2rem/1.59 'Montserrat';
            padding-top: 1rem;

            @include media(1200px) {
                font-size: 2rem;
                line-height: 3.5rem;
            }
        }
    }

    &__li-title {
        font: bold 2.6rem/3.5rem 'Montserrat';
        margin: 0.6rem 0;
        color: #00052f;
    }

    &__transition {
        margin-top: -5px;
        height: 14.1vw;
        background-image: linear-gradient(to bottom right, transparent 49.9%, #000427 50.1%);
    }

    &__transition-top {
        margin-top: -5px;
        height: 14.1vw;
        background-image: linear-gradient(to bottom right, #000a4f 49.90%, white 50.10%);
    }
}