.contacts {
  background-color: #fff;
  padding-top: 15vw;
  margin-top: -10vw;
  padding-bottom: 120px;

  &__container {
    @extend %container;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 5.6rem;
    line-height: 1;
    font-weight: bold;
    color: #00052f;
    z-index: 100;
    text-align: center;
    margin: 70px 0 50px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__info-item {
    color: #00052f;
    font: normal 2.6rem/1.35 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    transition: 0.2s;

    img {
      margin-right: 10px;
    }

    &:hover {
      color: #29abe2;
    }
  }
}

.form {
  @include row_grid(20px);

  &__textarea {
    @include col_grid(8, 20px);
    border: solid 1px #9faac2;
    color: #4a4a4a;
    font: normal 1.6rem/1.38 'Roboto', sans-serif;
    resize: none;
    padding: 20px;

    &:focus {
      box-shadow: 0 0 2px 0px #1ca1f1;
      border: solid 1px #1ca1f1;
    }
  }

  &__input-container {
    @include col_grid(4, 20px);
  }

  &__text {
    width: 100%;
    border: solid 1px #9faac2;
    color: #4a4a4a;
    font: normal 1.6rem/1.38 'Roboto', sans-serif;
    padding: 20px;
    margin-bottom: 20px;
    &:focus {
      box-shadow: 0 0 2px 0 #1ca1f1;
      border: solid 1px #1ca1f1;
    }
  }

  &__submit {
    width: 100%;
    color: #fff;
    font: bold 2rem/1 'Roboto', sans-serif;
    border: none;
    padding: 30px;
    position: relative;
    background-color: #3AABDF;
    cursor: pointer;

    &:hover {
      box-shadow: 8px 8px 5px 0 #000a4f;
    }

    &:active {
      top: 4px;
      left: 4px;
      box-shadow: 4px 4px 5px 0 #000a4f;
    }

    span {
      z-index: 3;
      position: relative;
    }

    &-triangle {
      position: absolute;
      height: 100%;

      &:nth-of-type(1) {
        width: 43%;
        background-image:
                linear-gradient(to right top, #2992C6 50%, transparent 50.3%);
        top: 0;
        left: 0;
        z-index: 2;
      }
      &:nth-of-type(2) {
        width: 90%;
        background-image:
                linear-gradient(to left top, #4BBDF1 50%, transparent 50.3%);
        top: 0;
        right: 0;
        z-index: 1;
      }
    }

  }
}