.contacts {
  background-color: #fff;
  padding-top: 15vw;
  margin-top: -10vw;
  padding-bottom: 120px;

  @include media(998px) {
    padding-bottom: 100px;
  }

  @include media(768px) {
    padding-bottom: 80px;
  }

  &__container {
    @extend %container;
  }

  &__anchor {
    position: relative;
    top: -100px;

    @include media(998px) {
      top: -20px;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 5.6rem;
    line-height: 1;
    font-weight: bold;
    color: #00052f;
    z-index: 100;
    text-align: center;
    margin: 70px 0 50px;

    @include media(480px) {
      font-size: 4.5rem;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
    flex-wrap: wrap;

    @include media(998px) {
      justify-content: center;
      margin-bottom: 40px;

      br {
        display: none;
      }
    }

    @include media(700px) {
      flex-direction: column;
      margin-bottom: 30px;
    }

    @include media(640px) {
      flex-direction: row;
      justify-content: center;
    }

    @include media(420px) {
      flex-direction: column;
    }
  }

  &__info-item {
    color: #00052f;
    font: normal 2.6rem/1.35 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    transition: 0.2s;

    @include media(998px) {
      margin-bottom: 20px;
      &:first-of-type {
        margin-right: 50px;
      }
    }

    @include media(700px) {
      margin-bottom: 30px;
    }

    @include media(640px) {
      margin-bottom: 20px;
      &:first-of-type {
        margin-right: 30px;
      }
    }

    @include media(359px) {
      font-size: 2.4rem;
    }

    img {
      margin-right: 10px;

      @include media(640px) {
        display: none;
      }
    }

    &:hover {
      color: #29abe2;
    }
  }
}

.form {
  @include row_grid(24px);

  &__textarea {
    @include col_grid(8, 24px);
    border: solid 1px #9faac2;
    color: #4a4a4a;
    font: normal 1.6rem/1.38 'Roboto', sans-serif;
    resize: none;
    padding: 20px;

    @include media(998px) {
      font-size: 2rem;
      @include col_grid(12, 24px);
      height: 300px;
      margin-bottom: 20px;
    }

    @include media(480px) {
      height: 200px;
      padding: 20px 15px;
    }

    &:focus {
      box-shadow: 0 0 2px 0px #1ca1f1;
      border: solid 1px #1ca1f1;
    }
  }

  &__input-container {
    @include col_grid(4, 24px);

    @include media(998px) {
      @include col_grid(12, 24px);
    }
  }

  &__text {
    width: 100%;
    border: solid 1px #9faac2;
    color: #4a4a4a;
    font: normal 1.6rem/1.38 'Roboto', sans-serif;
    padding: 20px;
    margin-bottom: 20px;

    @include media(998px) {
      font-size: 2rem;
    }

    @include media(480px) {
      padding: 20px 15px;
    }

    &:focus {
      box-shadow: 0 0 2px 0 #1ca1f1;
      border: solid 1px #1ca1f1;
    }
  }

  &__submit {
    width: 100%;
    color: #fff;
    font: bold 2rem/1 'Roboto', sans-serif;
    border: none;
    padding: 30px;
    position: relative;
    background-color: #3AABDF;
    cursor: pointer;

    @include media(998px) {
      font-size: 2.4rem;
    }

    &:hover {
      box-shadow: 8px 8px 5px 0 #000a4f;
      @include media(998px) {
        box-shadow: none;
      }
    }

    &:active {
      top: 4px;
      left: 4px;
      box-shadow: 4px 4px 5px 0 #000a4f;
      @include media(998px) {
        top: 0;
        left: 0;
        box-shadow: none;
        opacity: 0.8;
      }
    }

    span {
      z-index: 3;
      position: relative;
    }

    &-triangle {
      position: absolute;
      height: 100%;

      &:nth-of-type(1) {
        width: 43%;
        background-image:
                linear-gradient(to right top, #2992C6 50%, transparent 50.3%);
        top: 0;
        left: 0;
        z-index: 2;
      }
      &:nth-of-type(2) {
        width: 90%;
        background-image:
                linear-gradient(to left top, #4BBDF1 50%, transparent 50.3%);
        top: 0;
        right: 0;
        z-index: 1;
      }
    }
  }
}

.bad-field {
  box-shadow: 0 0 2px 0 #d0021b;
  border: solid 1px #d0021b;
}