.footer {
  background-image: linear-gradient(to top, #000a4f, #000427);

  &__container {
    @extend %container;
  }

  &__social {
    @include row_grid(40px);
    justify-content: center;

    @include media(1200px) {
      @include row_grid(32px);
    }

    @include media(640px) {
      @include row_grid(20px);
    }

    @include media(480px) {
      @include row_grid(16px);
    }
  }

  &__reference {
    @include col_grid(4, 0px);
    padding: 30px 0;
    font: bold 1.8rem/1.1 'Montserrat', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(480px){
      padding: 25px 0;
    }

    &:nth-of-type(1) {
      background-color: #475a93;
    }
    &:nth-of-type(2) {
      background-color: #1ca1f1;
    }
    &:nth-of-type(3) {
      background-color: #4e5dd5;
    }

    &:active {
      opacity: 0.7;
    }

    img {
      margin-right: 10px;
      @include media(480px) {
        margin: 0;
        width: 25px;
      }
    }

    span {
      @include media(480px) {
        display: none;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @include media(998px) {
      flex-direction: column;
    }
  }

  &__title {
    color: #6b6b6b;
    font: bold 1.4rem/1.69 'Montserrat', sans-serif;
    width: 25.3%;

    @include media(1200px) {
      font-size: 1.6rem;
    }

    @include media(998px) {
      width: auto;
      margin-bottom: 0;
      text-align: center;
    }
  }

  &__text {
    color: #6b6b6b;
    font: normal 1.3rem/1.69 'Roboto', sans-serif;
    width: 70%;

    @include media(1200px) {
      font-size: 1.5rem;
    }

    @include media(998px) {
      width: auto;
    }
  }

}