.header {
	$darkBlue: #000427;
	$pink: #ff0096;
	z-index: 100;

	position: fixed;
	width: 100%;
	height: 80px;
	color: white;
	background-color: $darkBlue;

	@include media(998px) {
		position: absolute;
	}
	@include media(480px) {
		height: 60px;
	}


	&__container {
		@extend %container;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__logo {
		display: block;
		width: 146px;
		font-family: 'Montserrat';
		font-size: 26px;
		line-height: 1.46;
  		font-weight: 800;
  		color: white;
  		position: relative;
  		word-spacing: 2px;
  		@include media(480px) {
			font-size: 22px;
			width: 130px;
		}
	}

	&__logo-point {
		width: 7px;
		height: 7px;
		border-radius: 5px;
		background-color: $pink;
		position: absolute;
		top: 16px;
		right: 17px;
		@include media(480px) {
			width: 6px;
			height: 6px;
			top: 14px;
			right: 20px;
		}
	}

	&__btn {
		display: block;
		width: 198px;
		height: 38px;
		background-color:#9d005d;
		background-image:
			linear-gradient(-70deg, #710043 6.5%, transparent 6.5%),
			linear-gradient(to top left, #9d005d 50%, transparent 50%),
			linear-gradient(60deg, #ff0096 10%, transparent 10%),
			linear-gradient(to bottom, #C70075 100%, transparent 100%);

		font-family: 'Roboto';
		font-size: 14px;
		font-weight: bold;
		display: flex;
		justify-content: center;
		color: white;
		align-items: center;

		@include media(1200px){
			font-size: 16px;
		}

		@include media(998px) {
			background-image: none;
			background-color: #c70075;
		}

		@include media(480px) {
			width: 138px;
			height: 28px;
			font-size: 1.4rem;
		}
		@include media(359px) {
			display: none;
		}
	}
}

.menu {
	width: 462px;
	@include row_grid(0px);
	justify-content: space-between;
	@include media(1200px){
		width: 500px;
	}

	@include media(998px){
		display: none;
	}

	&__item {
		align-self: center;
	}

	&__reference {
		width: 100%;
		height: 100%;
		color: white;
		font-size: 1.5rem;
		font-weight: 500;
		font-family: 'Roboto';

		@include media(1200px) {
			font-size: 1.6rem;
		}
	}
}

.menu-mobile {
	width: 60px;
	height: 60px;
	padding: 5px;
	display: none;

	img {
		width: 100%;
		height: 100%;
	}

	@include media(998px) {
		display: block;
	}

	@include media(640px) {
		width: 55px;
		height: 55px;
	}
	@include media(640px) {
		width: 45px;
		height: 45px;
	}
}

