.preview {
	background-image: 
		linear-gradient(to bottom, #000427 80px, transparent 80px),
		linear-gradient(to bottom, #000427 80px, #000a4f 100%);
	height: 1559px; // временно
	padding-top: 80px;

	&__container {
		@extend %container;
	}

	&__head-container {
		@include row_grid(0px);
		justify-content: space-between;
	}

	&__head-text-container {
		color: white;
		padding-top: 250px;
		&:first-of-type {
			@include col_grid(8.4, 5px, 24);
		}
		&:last-of-type {
			@include col_grid(7, 5px, 24);
		}
		z-index: 10;
	}

	&__head-big-text {
		font-family: 'Montserrat';
		font-weight: 800;
		text-transform: uppercase;
		font-size: 15.8rem;
		line-height: 11.2rem;
		span {
			margin-left: -12px;
		}

		display: flex;
		margin: 40px 0;

		.preview__we {
			color: #1361ff;
		}

		.preview__and {
			color: #ff0096;
		}
	}

	&__head-symbol {
		margin-top: 1px;
		width: 11%;
		margin-left: 1.3rem;
		display: flex;
		flex-direction: column;		
		svg {
			width: 40px;
			height: 56px;
		}
	}


	&__head-text-bold {
		font-family: 'Montserrat';
		font-size: 3.8rem;
		line-height: 5.2rem;
		font-weight: 800;
		margin: 0;
	}

	&__head-text-medium {
		font-family: 'Montserrat';
		font-size: 2rem;
		line-height: 2.6rem;
		font-weight: 500;
		margin: 0;
	}

	&__head {
		padding-top: 45px;
		margin-left: -220px;
		margin-right: -170px;
	}
}