.team {
  transform: rotate(-8deg);
  background-color: #fff;
  width: 100%;
  padding: 120px 0 80px;
  z-index: 10;
  position: relative;

  @include media(1200px) {
    padding: 100px 0 130px;
  }

  @include media(998px) {
    padding: 100px 0 110px;
  }

  @include media(640px) {
    padding: 70px 0 70px;
  }

  @include media(480px) {
    padding: 60px 0 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 16%;
    height: 100%;
    background-color: #fff;
    @include media (640px) {
      left: -199px;
      width: 200px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -25%;
    width: 30%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    @include media (640px) {
      right: -199px;
      width: 200px;
    }
  }

  &__container {
    @extend %container;
    transform: rotate(8deg);
    position: relative;
    z-index: 10;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 5.6rem;
    line-height: 1;
    font-weight: bold;
    color: #00052f;
    z-index: 100;
    text-align: center;
    margin: 15px 0 60px;

    @include media(640px) {
      margin: 0 0 30px;
    }

    @include media(480px) {
      font-size: 4.5rem;
    }
  }

  &__flex-container{
    @include row_grid (24px);
  }

  &__flex-item {
    @include col_grid(4, 24px);
    margin-bottom: 35px;

    @include media(998px) {
      @include col_grid(6, 24px);
    }

    @include media(768px) {
      @include col_grid(12, 24px);
    }

    &-name {
      color: #00052f;
      font: bold 2.6rem/1.35 'Montserrat', sans-serif;
      margin: 20px 0 0;
    }

    &-title {
      color: #00052f;
      font: normal 2.6rem/1.35 'Montserrat', sans-serif;
      margin: 0 0 10px;
    }

    &-text {
      font: normal 1.6rem/1.38 "Roboto", sans-serif;
      margin: 0.5rem 0;
      color: #4a4a4a;
      @include media(998px) {
        font-size: 2rem;
      }
    }
  }

  &__triangle {
    position: absolute;

    &:nth-of-type(2) {
      width: 40%;
      height: 12vw;
      background-image: linear-gradient(to right top, #0f1b7d 49.8%, transparent 50.2%);
      top: -12vw;
      left: 0;

      @include media(480px) {
        width: 70%;
      }
    }

    &:nth-of-type(3) {
      width: 40%;
      height: 7vw;
      background-image: linear-gradient(to left top, rgba(0, 92, 192, 0.73) 49.8%, transparent 50.08%);
      opacity: 0.61;
      transform: skew(60deg, 0);
      top: -7vw;
      left: -4%;

      @include media(480px) {
        width: 70%;
      }
    }

    &:nth-of-type(4) {
      width: 40%;
      height: 5vw;
      background-image: linear-gradient(to left top, #0f1b7d 49.8%, transparent 50.2%);
      top: -5vw;
      left: 10%;
      opacity: 0.41;
      transform: skew(65deg, 0);

      @include media(480px) {
        width: 70%;
      }
    }

    &:nth-of-type(5) {
      width: 80%;
      height: 13vw;
      top: 0;
      right: -50%;
      background-image: linear-gradient(to bottom left, #0f1b7d 49.8%, transparent 50.2%);
      z-index: 2;

      @include media(480px) {
        width: 65%;
      }
    }

    &-in {
      position: absolute;
      width: 28%;
      height: 18vw;
      background-image: linear-gradient(to bottom left, rgba(0, 92, 192, 0.73) 49.9%, transparent 50%);
      opacity: 0.61;
      top: 0;
      left: 0;
      z-index: 2;
      transform-origin: 0 0;
      transform: rotate(-13.1deg) skew(50deg, 0);
    }

    &:nth-of-type(6) {
      width: 40%;
      height: 5vw;
      background-image: linear-gradient(to top left, #005cc0 49.7%, transparent 50.3%);
      opacity: 0.8;
      bottom: 0;
      left:-8%;
      transform:skew(60deg, 0);

      @include media(480px) {
        width: 30%;
        left: -20%;
      }
    }

    &:nth-of-type(7) {
      width: 60%;
      height: 18vw;
      background-image: linear-gradient(to top right, rgba(0, 92, 192, 0.73) 49.9%, transparent 50%);
      opacity: 0.61;
      bottom: 0;
      left:-50%;

      @include media(480px) {
        width: 50%;
        height: 12vw;
      }
    }

    &:nth-of-type(8) {
      width: 40%;
      height: 5vw;
      background-image: linear-gradient(to bottom right, #005cc0 49.7%, transparent 50.3%);
      opacity: 0.8;
      bottom: -5vw;
      right: 19.5%;
      transform: skew(60deg, 0);
      z-index: 2;

      @include media(480px) {
        width: 62.2%;
      }
    }

    &:nth-of-type(9) {
      width: 45%;
      height: 10vw;
      background-image: linear-gradient(to bottom left, rgba(0, 92, 192, 0.73) 49.7%, transparent 50.3%);
      opacity: 0.61;
      bottom: -10vw;
      right: 0;
      z-index: 1;
      @include media(480px) {
        width: 67%;
        height: 15vw;
        bottom: -15vw;
      }
    }
  }
}