.team {
  transform: rotate(-8deg);
  background-color: #fff;
  width: 100%;
  padding: 120px 0 80px;
  z-index: 10;
  border-bottom: solid 1px #9faac2;

  @include media(1200px) {
    padding: 100px 0 130px;
  }

  @include media(480px) {
    padding: 80px 0 90px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 16%;
    height: 100%;
    background-color: #fff;
    border-bottom: solid 1px #9faac2;
    @include media (640px) {
      left: -199px;
      width: 200px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -15%;
    width: 16%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    @include media (640px) {
      right: -199px;
      width: 200px;
    }
  }

  &__container {
    @extend %container;
    transform: rotate(8deg);
    position: relative;
    z-index: 10;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 5.6rem;
    line-height: 1;
    font-weight: bold;
    color: #00052f;
    z-index: 100;
    text-align: center;
    margin: 15px 0 50px;
    @include media(768px) {
      margin: 0;
    }
  }

  &__flex-container{
    @include row_grid (20px);
    @include media(1200px) {
      justify-content: center;
    }
    @include media(998px) {
      flex-direction: column;
      align-items: center;
      @include row_grid (0px);
    }
  }

  &__flex-item {
    @include col_grid(4, 20px);

    margin-bottom: 35px;

    @include media(1200px) {
      @include col_grid(4, 20px);
    }
    @include media(998px) {
      @include col_grid(12, 10px);
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &-name {
      color: #00052f;
      font: bold 2.6rem/1.35 'Montserrat', sans-serif;
      margin: 20px 0 0;
    }

    &-title {
      color: #00052f;
      font: normal 2.6rem/1.35 'Montserrat', sans-serif;
      margin: 0 0 10px;
    }

    &-text {
      font: normal 1.6rem/1.38 "Roboto", sans-serif;
      margin: 0.5rem 0;
      color: #4a4a4a;
      @include media(998px) {
        font-size: 2rem;
        line-height: 2.8rem;
      }
    }
  }
}